@model MvcCodeFastProject_Alamgir.Models.Doctor
<table style="font-family:Arial; border:2px solid black; width: 300px"class="table table-bordered table-striped text-center" >
    <tr>
        <td>
            <table class="table-striped-bg-primary">
                <tr>
                    <td><b>Doctor Name:</b></td>
                    <td>@Model.Name</td>
                </tr>
                <tr>
                    <td><b>Email:</b></td>
                    <td>@Model.Email</td>
                </tr>
                <tr>
                    <td><b>Contact No :</b></td>
                    <td>@Model.ContactNo</td>
                </tr>
                @*<tr>
                    <td><b>Department Name :</b></td>
                    <td>@Model.Department</td>
                </tr>*@
            </table>
        </td>
    </tr>
</table>